@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: 	#66545e;
  --secondary: #a39193;
  --error: #aa6f73;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 0.14rem;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 3.8rem;
  font-size: 2.6rem;
}
.output {
  height: 3.75rem;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}
.img-input{
  display: flex;
  align-content: center;
}
/* progress bar styles */
.progress-bar{
  height: 0.3rem;
  background: var(--error);
  margin-top: 1.25rem;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.img-wrap img{
  min-height: 100%;
  min-width: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}
/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 3.75rem auto;
  box-shadow: 3px, 5px, 7px, rgba(0, 0, 0, 0.5);
  border: 3px solid rgb(240, 235, 235);
}

@media only screen and (max-width: 375px) {
  .img-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

